
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a [routerLink]="['/home']">
      Couch-N-Meadows
    </a>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <a [routerLink]="['/']" routerLinkActive="active">
      <mat-icon class="icon">details</mat-icon>
      <span class="label">Master Data</span>
    </a>
    
    <a [routerLink]="['/dashboard']" routerLinkActive="active">
      <mat-icon class="icon">dashboard</mat-icon>
      <span class="label">Dashboard</span>
    </a>

    <a [routerLink]="['/teams']" routerLinkActive="active">
      <mat-icon class="icon">amp_stories</mat-icon>
      <span class="label">Stories</span>
    </a>
    <!-- mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
  </mat-toolbar-row>
</mat-toolbar>